.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 10px;
}

.dialog .active {
    color: gold;
}

.item {
    padding: 2rem;
    margin: 5px;
    height: 15px;

    border: 2px solid rgb(161, 55, 161);
    border-radius: 5rem;

    display: flex;
    justify-content: space-between;
}

.messages {
    padding: 10px;

    width: 50%;
}

.item img {
    width: 30px;
    height: auto;

    border: 2px solid black;
    border-radius: 10px;
}




