.nav-bar {
    grid-area: n;


    border: 3px solid salmon;
    background-color: azure;

    padding: 20px;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: palevioletred;
}

a.active {
    color: gold;
}
