.nav-bar {
    grid-area: n;


    border: 3px solid salmon;
    background-color: azure;

    padding: 20px;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: palevioletred;
}

a.active {
    color: gold;
}

.img_friends {
    display: flex;
    justify-content: space-around;
}

.img_friends img {
    width: 30px;
    border-radius: 5rem;
}
