.nav-bar {
    grid-area: n;


    border: 3px solid rgb(12, 3, 3);
    background-color: white;

    padding: 20px;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a.active {
    color: gold;
}

.online {
    display: flex;

    text-align: center;
    gap: 15px;
}

.online img {
    width: 5rem;
}